<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder stats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h1>Tinder stats</h1>
    <p>Upload your data.json file</p>
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input name="file" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                   aria-label="Lähetä">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Lähetä</button>
        </div>

    </form>
</div>
</body>
</html>