<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder stats results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<style>
    .body {
        height: 100%;
    }
</style>
<body>
<div class="container mt-4 w-400 mb-4">
    <h1>Analyzed statistics</h1>
    <table class="table table-striped">
        <tbody>
        {% for i in data %}
        <tr>
            <td>
                {{i[0]}}
            </td>
            <td>
                {{i[1]}}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer class="navbar text-center">
    <div class="container">
      <span class="text-muted">Made by <a class="link-secondary" href="https://github.com/MineTech0" target="blank">Niilo Kurki</a></span>
    </div>
  </footer>
</body>
</html>